In [12]:
import pandas as pd

pd.options.display.max_rows = 999

df = pd.read_csv("/drive2/kaggle/pii-dd/piidd/training/basic/outputs/d3l_{1e-5}_{1}_ld{0.1}_msd/20240307231248_pii_fbeta.csv", engine="python")

df["label_gt"].fillna("FP", inplace=True)

FP = (df["cm"].isin({"FP", "FNFP"})).sum()
FN = (df["cm"].isin({"FN", "FNFP"})).sum()
TP = (df["cm"] == "TP").sum()   
beta = 5
s_micro = (1 + (beta**2)) * TP / (((1 + (beta**2)) * TP) + ((beta**2) * FN) + FP)

print(s_micro)

0.975

In [13]:
df.groupby(["label_gt", "cm"], dropna=False).count()

                   Unnamed: 0  token  label_pred  document  token_text_pred  \
label_gt       cm
B-EMAIL        TP          14     14          14        14               14
B-ID_NUM       FN           3      3           0         3                0
               TP          24     24          24        24               24
B-NAME_STUDENT FN           8      8           0         8                0
               TP         356    356         356       356              356
B-PHONE_NUM    TP           2      2           2         2                2
B-URL_PERSONAL FN           1      1           0         1                0
               TP          32     32          32        32               32
FP             FP         126    126         126       126              126
I-NAME_STUDENT FN           2      2           0         2                0
               TP         280    280         280       280              280
I-PHONE_NUM    TP           6      6           6         6                6

                   row_id_pred  token_text_gt  row_id_gt
label_gt       cm
B-EMAIL        TP           14             14         14
B-ID_NUM       FN            0              3          3
               TP           24             24         24
B-NAME_STUDENT FN            0              8          8
               TP          356            356        356
B-PHONE_NUM    TP            2              2          2
B-URL_PERSONAL FN            0              1          1
               TP           32             32         32
FP             FP          126              0          0
I-NAME_STUDENT FN            0              2          2
               TP          280            280        280
I-PHONE_NUM    TP            6              6          6

In [14]:
df[df["cm"]=="FN"]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
90,90,632,NaN,3241,NaN,NaN,B-NAME_STUDENT,Rodriguez,90.0,FN
312,312,62,NaN,6117,NaN,NaN,B-NAME_STUDENT,Hari,267.0,FN
313,313,63,NaN,6117,NaN,NaN,I-NAME_STUDENT,Sharma,268.0,FN
431,431,1037,NaN,7733,NaN,NaN,B-URL_PERSONAL,https://www.cuevas.info/blogsearch.html,375.0,FN
440,440,2462,NaN,7745,NaN,NaN,B-NAME_STUDENT,Daniel,384.0,FN
529,529,488,NaN,9405,NaN,NaN,B-NAME_STUDENT,Fabrizio,470.0,FN
645,645,498,NaN,10517,NaN,NaN,B-ID_NUM,ras21,568.0,FN
746,746,605,NaN,12077,NaN,NaN,B-NAME_STUDENT,Daniel,652.0,FN
770,770,3,NaN,12585,NaN,NaN,B-NAME_STUDENT,Art,673.0,FN
771,771,4,NaN,12585,NaN,NaN,I-NAME_STUDENT,Street,674.0,FN
813,813,947,NaN,13249,NaN,NaN,B-NAME_STUDENT,David,714.0,FN
815,815,964,NaN,13249,NaN,NaN,B-NAME_STUDENT,David,716.0,FN
830,830,365,NaN,15717,NaN,NaN,B-ID_NUM,IV-8322,726.0,FN
831,831,964,NaN,15717,NaN,NaN,B-ID_NUM,IV-8322,727.0,FN

In [15]:
df[df["cm"]=="FP"]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
101,101,12,B-PHONE_NUM,3709,2321,100.0,FP,NaN,NaN,FP
102,102,13,B-PHONE_NUM,3709,-,101.0,FP,NaN,NaN,FP
103,103,14,B-PHONE_NUM,3709,9637,102.0,FP,NaN,NaN,FP
113,113,39,B-NAME_STUDENT,3709,Katia,112.0,FP,NaN,NaN,FP
114,114,40,I-NAME_STUDENT,3709,Johnson,113.0,FP,NaN,NaN,FP
117,117,637,B-NAME_STUDENT,3709,Ari,116.0,FP,NaN,NaN,FP
118,118,640,B-NAME_STUDENT,3709,Arik,117.0,FP,NaN,NaN,FP
119,119,651,B-NAME_STUDENT,3709,Eko,118.0,FP,NaN,NaN,FP
120,120,789,B-PHONE_NUM,3709,2321,119.0,FP,NaN,NaN,FP
121,121,790,B-PHONE_NUM,3709,-,120.0,FP,NaN,NaN,FP
122,122,791,B-PHONE_NUM,3709,9637,121.0,FP,NaN,NaN,FP
124,124,1770,B-PHONE_NUM,3709,2321,123.0,FP,NaN,NaN,FP
125,125,1771,B-PHONE_NUM,3709,-,124.0,FP,NaN,NaN,FP
126,126,1772,B-PHONE_NUM,3709,9637,125.0,FP,NaN,NaN,FP
128,128,2265,B-PHONE_NUM,3709,2321,127.0,FP,NaN,NaN,FP
129,129,2266,B-PHONE_NUM,3709,-,128.0,FP,NaN,NaN,FP
130,130,2267,B-PHONE_NUM,3709,9637,129.0,FP,NaN,NaN,FP
132,132,2396,I-PHONE_NUM,3709,-,131.0,FP,NaN,NaN,FP
133,133,2397,B-PHONE_NUM,3709,1,132.0,FP,NaN,NaN,FP
134,134,2398,I-PHONE_NUM,3709,-,133.0,FP,NaN,NaN,FP
135,135,2399,I-PHONE_NUM,3709,5386,134.0,FP,NaN,NaN,FP
136,136,2400,I-PHONE_NUM,3709,-,135.0,FP,NaN,NaN,FP
137,137,2401,I-PHONE_NUM,3709,2182,136.0,FP,NaN,NaN,FP
138,138,2402,I-PHONE_NUM,3709,-,137.0,FP,NaN,NaN,FP
173,173,1200,B-URL_PERSONAL,4381,http://au.youtube.com/results?search_query=ton...,172.0,FP,NaN,NaN,FP
205,205,1038,B-NAME_STUDENT,4709,Goeff,204.0,FP,NaN,NaN,FP
209,209,205,B-ID_NUM,4717,221910309005,208.0,FP,NaN,NaN,FP
210,210,337,B-ID_NUM,4717,221910309006,209.0,FP,NaN,NaN,FP
215,215,394,B-NAME_STUDENT,4769,Gracias,214.0,FP,NaN,NaN,FP
235,235,34,B-NAME_STUDENT,5001,Rya,234.0,FP,NaN,NaN,FP
236,236,432,B-NAME_STUDENT,5001,Rya,235.0,FP,NaN,NaN,FP
237,237,451,B-NAME_STUDENT,5001,Rya,236.0,FP,NaN,NaN,FP
238,238,617,B-NAME_STUDENT,5001,Rya,237.0,FP,NaN,NaN,FP
239,239,828,B-NAME_STUDENT,5001,Rya,238.0,FP,NaN,NaN,FP
240,240,944,B-NAME_STUDENT,5001,Rya,239.0,FP,NaN,NaN,FP
241,241,1040,B-NAME_STUDENT,5001,Rya,240.0,FP,NaN,NaN,FP
242,242,1254,B-NAME_STUDENT,5001,Rya,241.0,FP,NaN,NaN,FP
243,243,1377,B-NAME_STUDENT,5001,Rya,242.0,FP,NaN,NaN,FP
246,246,1614,B-NAME_STUDENT,5001,Rya,245.0,FP,NaN,NaN,FP
247,247,1658,B-NAME_STUDENT,5001,Rya,246.0,FP,NaN,NaN,FP
248,248,1771,B-NAME_STUDENT,5001,Rya,247.0,FP,NaN,NaN,FP
249,249,1917,B-NAME_STUDENT,5001,Rya,248.0,FP,NaN,NaN,FP
250,250,1958,B-NAME_STUDENT,5001,Rya,249.0,FP,NaN,NaN,FP
251,251,2117,B-NAME_STUDENT,5001,Rya,250.0,FP,NaN,NaN,FP
252,252,2132,B-NAME_STUDENT,5001,Rya,251.0,FP,NaN,NaN,FP
326,326,240,B-URL_PERSONAL,6393,https://www.youtube.com/watch?v=Nj-hdQMa3uA,323.0,FP,NaN,NaN,FP
371,371,291,B-NAME_STUDENT,6853,George,368.0,FP,NaN,NaN,FP
397,397,142,B-NAME_STUDENT,7197,Alice,394.0,FP,NaN,NaN,FP
398,398,187,B-NAME_STUDENT,7197,Alice,395.0,FP,NaN,NaN,FP
399,399,291,B-NAME_STUDENT,7197,Alice,396.0,FP,NaN,NaN,FP
400,400,293,B-NAME_STUDENT,7197,Alice,397.0,FP,NaN,NaN,FP
401,401,540,B-NAME_STUDENT,7197,Alice,398.0,FP,NaN,NaN,FP
402,402,577,B-NAME_STUDENT,7197,Alice,399.0,FP,NaN,NaN,FP
403,403,640,B-NAME_STUDENT,7197,Alice,400.0,FP,NaN,NaN,FP
404,404,669,B-NAME_STUDENT,7197,Alice,401.0,FP,NaN,NaN,FP
430,430,387,B-URL_PERSONAL,7713,https://www.youtube.com/watch?v=NuacmGHLDqw,427.0,FP,NaN,NaN,FP
453,453,6,I-NAME_STUDENT,7993,Ortega,448.0,FP,NaN,NaN,FP
455,455,622,I-NAME_STUDENT,7993,2,450.0,FP,NaN,NaN,FP
499,499,754,B-NAME_STUDENT,8733,Miro,494.0,FP,NaN,NaN,FP
544,544,3,B-NAME_STUDENT,9421,Libby,538.0,FP,NaN,NaN,FP
545,545,5,I-NAME_STUDENT,9421,Bingham,539.0,FP,NaN,NaN,FP
547,547,84,B-NAME_STUDENT,9421,Libby,541.0,FP,NaN,NaN,FP
548,548,86,I-NAME_STUDENT,9421,Bingham,542.0,FP,NaN,NaN,FP
559,559,98,B-NAME_STUDENT,9493,Radha,553.0,FP,NaN,NaN,FP
568,568,525,B-NAME_STUDENT,9493,NITHIN,562.0,FP,NaN,NaN,FP
574,574,632,B-NAME_STUDENT,9585,Michelle,568.0,FP,NaN,NaN,FP
575,575,641,B-NAME_STUDENT,9585,Michelle,569.0,FP,NaN,NaN,FP
576,576,660,B-NAME_STUDENT,9585,Michelle,570.0,FP,NaN,NaN,FP
577,577,681,B-NAME_STUDENT,9585,Michelle,571.0,FP,NaN,NaN,FP
578,578,762,B-NAME_STUDENT,9585,Michelle,572.0,FP,NaN,NaN,FP
579,579,793,B-NAME_STUDENT,9585,Michelle,573.0,FP,NaN,NaN,FP
580,580,1044,B-NAME_STUDENT,9585,Michelle,574.0,FP,NaN,NaN,FP
581,581,1070,B-NAME_STUDENT,9585,Michelle,575.0,FP,NaN,NaN,FP
603,603,530,B-NAME_STUDENT,10057,Leche,597.0,FP,NaN,NaN,FP
604,604,531,I-NAME_STUDENT,10057,Pascual,598.0,FP,NaN,NaN,FP
618,618,89,B-NAME_STUDENT,10205,Migual,612.0,FP,NaN,NaN,FP
619,619,90,I-NAME_STUDENT,10205,Oman,613.0,FP,NaN,NaN,FP
650,650,438,B-URL_PERSONAL,10561,https://www.youtube.com/watch?v=n90uKuFh9Go,643.0,FP,NaN,NaN,FP
666,666,177,B-NAME_STUDENT,10693,Jeremy,659.0,FP,NaN,NaN,FP
667,667,178,I-NAME_STUDENT,10693,Borg,660.0,FP,NaN,NaN,FP
668,668,519,B-NAME_STUDENT,10693,Jeremy,661.0,FP,NaN,NaN,FP
669,669,520,I-NAME_STUDENT,10693,Borg,662.0,FP,NaN,NaN,FP
697,697,1361,B-NAME_STUDENT,11261,Belén,690.0,FP,NaN,NaN,FP
698,698,1395,B-NAME_STUDENT,11261,Belén,691.0,FP,NaN,NaN,FP
699,699,1403,B-NAME_STUDENT,11261,Belen,692.0,FP,NaN,NaN,FP
721,721,297,B-NAME_STUDENT,11745,Pedro,714.0,FP,NaN,NaN,FP
722,722,306,B-NAME_STUDENT,11745,Pedro,715.0,FP,NaN,NaN,FP
723,723,336,B-NAME_STUDENT,11745,Pedro,716.0,FP,NaN,NaN,FP
724,724,351,B-NAME_STUDENT,11745,Pedro,717.0,FP,NaN,NaN,FP
727,727,618,B-NAME_STUDENT,11745,Pedro,720.0,FP,NaN,NaN,FP
734,734,841,B-NAME_STUDENT,11849,Arman,727.0,FP,NaN,NaN,FP
735,735,949,B-NAME_STUDENT,11849,Finca,728.0,FP,NaN,NaN,FP
736,736,950,I-NAME_STUDENT,11849,Antonio,729.0,FP,NaN,NaN,FP
737,737,1023,B-NAME_STUDENT,11849,Arman,730.0,FP,NaN,NaN,FP
760,760,6,B-NAME_STUDENT,12429,Shiv,752.0,FP,NaN,NaN,FP
761,761,7,I-NAME_STUDENT,12429,Packaging,753.0,FP,NaN,NaN,FP
769,769,635,I-USERNAME,12565,​,761.0,FP,NaN,NaN,FP
790,790,567,B-NAME_STUDENT,13017,Juana,780.0,FP,NaN,NaN,FP
807,807,751,B-NAME_STUDENT,13249,Sally,797.0,FP,NaN,NaN,FP
825,825,0,B-NAME_STUDENT,13537,ORIFLAME,813.0,FP,NaN,NaN,FP
826,826,0,I-USERNAME,14313,​,814.0,FP,NaN,NaN,FP
827,827,237,B-NAME_STUDENT,15045,Sara,815.0,FP,NaN,NaN,FP
828,828,314,B-NAME_STUDENT,15045,Sara,816.0,FP,NaN,NaN,FP
829,829,382,B-NAME_STUDENT,15045,Sara,817.0,FP,NaN,NaN,FP
832,832,38,B-NAME_STUDENT,16741,E’manuel,818.0,FP,NaN,NaN,FP
833,833,200,B-NAME_STUDENT,16741,E’manuel,819.0,FP,NaN,NaN,FP
834,834,60,B-NAME_STUDENT,17905,Rameshwar,820.0,FP,NaN,NaN,FP
835,835,176,B-NAME_STUDENT,17905,Rameshwar,821.0,FP,NaN,NaN,FP
836,836,565,B-NAME_STUDENT,17905,Rameshwar,822.0,FP,NaN,NaN,FP
837,837,777,B-NAME_STUDENT,17905,Rameshwar,823.0,FP,NaN,NaN,FP
838,838,0,I-USERNAME,18601,​,824.0,FP,NaN,NaN,FP
839,839,139,I-USERNAME,18969,​,825.0,FP,NaN,NaN,FP
840,840,19,B-NAME_STUDENT,19565,Danielle,826.0,FP,NaN,NaN,FP
841,841,20,I-NAME_STUDENT,19565,Schlosser,827.0,FP,NaN,NaN,FP
842,842,74,B-NAME_STUDENT,19565,Silvia,828.0,FP,NaN,NaN,FP
843,843,81,B-NAME_STUDENT,19565,Danielle,829.0,FP,NaN,NaN,FP
844,844,160,B-NAME_STUDENT,19565,Danielle,830.0,FP,NaN,NaN,FP
845,845,162,B-NAME_STUDENT,19565,Silvia,831.0,FP,NaN,NaN,FP
846,846,210,B-NAME_STUDENT,19565,Danielle,832.0,FP,NaN,NaN,FP
847,847,213,B-NAME_STUDENT,19565,Silvia,833.0,FP,NaN,NaN,FP
848,848,286,B-NAME_STUDENT,19565,Danielle,834.0,FP,NaN,NaN,FP
849,849,288,B-NAME_STUDENT,19565,Silvia,835.0,FP,NaN,NaN,FP
850,850,304,B-NAME_STUDENT,19681,Shailesh,836.0,FP,NaN,NaN,FP
851,851,305,I-NAME_STUDENT,19681,Kumar,837.0,FP,NaN,NaN,FP
852,852,13,B-NAME_STUDENT,21541,Ariana,838.0,FP,NaN,NaN,FP
853,853,14,I-NAME_STUDENT,21541,Tsoutsas,839.0,FP,NaN,NaN,FP

In [5]:
df[df["cm"]=="FNFP"]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
13,13,50,B-PHONE_NUM,609,530670102508,13.0,B-ID_NUM,530670102508,13.0,FNFP
16,16,56,B-PHONE_NUM,609,875673967537,16.0,B-ID_NUM,875673967537,16.0,FNFP
17,17,62,B-PHONE_NUM,609,860632713425,17.0,B-ID_NUM,860632713425,17.0,FNFP
20,20,68,B-PHONE_NUM,609,557349702179,20.0,B-ID_NUM,557349702179,20.0,FNFP
23,23,74,B-PHONE_NUM,609,784372734211,23.0,B-ID_NUM,784372734211,23.0,FNFP
26,26,80,B-PHONE_NUM,609,054176622314,26.0,B-ID_NUM,054176622314,26.0,FNFP
29,29,89,B-PHONE_NUM,609,674915248960,29.0,B-ID_NUM,674915248960,29.0,FNFP
205,205,18,B-PHONE_NUM,4717,186941941714,189.0,B-ID_NUM,186941941714,182.0,FNFP
289,289,112,B-PHONE_NUM,5653,35615904922,273.0,B-ID_NUM,35615904922,254.0,FNFP
334,334,12,B-PHONE_NUM,6537,779875708882,316.0,B-ID_NUM,779875708882,298.0,FNFP
336,336,21,B-PHONE_NUM,6537,800306846075,318.0,B-ID_NUM,800306846075,300.0,FNFP
338,338,30,B-PHONE_NUM,6537,955487471144,320.0,B-ID_NUM,955487471144,302.0,FNFP
366,366,16,B-PHONE_NUM,6849,034626995785,346.0,B-ID_NUM,034626995785,324.0,FNFP
428,428,2462,I-NAME_STUDENT,7745,Daniel,408.0,B-NAME_STUDENT,Daniel,384.0,FNFP
788,788,365,I-PHONE_NUM,15717,IV-8322,713.0,B-ID_NUM,IV-8322,726.0,FNFP
791,791,964,I-PHONE_NUM,15717,IV-8322,716.0,B-ID_NUM,IV-8322,727.0,FNFP

In [6]:
df["label"] = df["label_pred"]
df["row_id"] = df["row_id_pred"]

In [54]:
def correct_preds(pred_df):

    new_labels = []

    for d in pred_df["document"].unique():

        filtered = pred_df[pred_df["document"] == d].reset_index(drop=True)

        if len(filtered) > 0:
            filtered = filtered.sort_values("token", ascending=True)


            for idx, (doc_idx, pred_label, row_id) in enumerate(filtered[["token", "label", "row_id"]].values):
                if pred_label == "I-NAME_STUDENT":
                    if idx == 0:
                        new_labels.append((row_id, "B-NAME_STUDENT"))
                    else:
                        # if the previous token is not next to this token (by token id)
                        # OR if the label i
                        if filtered["token"][idx-1] != doc_idx -1 or filtered["label"][idx-1] not in {"B-NAME_STUDENT", "I-NAME_STUDENT"}:
                            new_labels.append((row_id, "B-NAME_STUDENT"))
    
    for (row_id, new_label) in new_labels:
        pred_df.loc[pred_df["row_id"] == row_id, "label"] = new_label

    return pred_df


correct_preds(df)

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm,label,row_id
0,0,18,B-NAME_STUDENT,8699,Rosli,0.0,B-NAME_STUDENT,Rosli,0.0,TP,B-NAME_STUDENT,0.0
1,1,170,B-NAME_STUDENT,8699,Jeanne,1.0,FP,NaN,NaN,FP,B-NAME_STUDENT,1.0
2,2,171,I-NAME_STUDENT,8699,Liedtka,2.0,FP,NaN,NaN,FP,I-NAME_STUDENT,2.0
3,3,173,B-NAME_STUDENT,8699,Tim,3.0,FP,NaN,NaN,FP,B-NAME_STUDENT,3.0
4,4,507,B-NAME_STUDENT,8699,Daniel,4.0,FP,NaN,NaN,FP,B-NAME_STUDENT,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1078,1078,2,B-NAME_STUDENT,11859,Nurul,1078.0,B-NAME_STUDENT,Nurul,724.0,TP,B-NAME_STUDENT,1078.0
1079,1079,3,I-NAME_STUDENT,11859,Mohamed,1079.0,I-NAME_STUDENT,Mohamed,725.0,TP,I-NAME_STUDENT,1079.0
1080,1080,7,B-EMAIL,11859,jray@hotmail.com,1080.0,B-EMAIL,jray@hotmail.com,726.0,TP,B-EMAIL,1080.0
1081,1081,498,NaN,10517,NaN,NaN,B-ID_NUM,ras21,22.0,FN,NaN,NaN
1082,1082,366,NaN,9911,NaN,NaN,I-NAME_STUDENT,Mpanza,596.0,FN,NaN,NaN

In [55]:
df[df["label"] != df["label_pred"]]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm,label,row_id
5,5,509,I-NAME_STUDENT,8699,Joseph,5.0,FP,NaN,NaN,FP,B-NAME_STUDENT,5.0
13,13,3,I-NAME_STUDENT,7745,Savitribai,13.0,FP,NaN,NaN,FP,B-NAME_STUDENT,13.0
20,20,907,I-NAME_STUDENT,7745,Savitribai,20.0,FP,NaN,NaN,FP,B-NAME_STUDENT,20.0
25,25,1845,I-NAME_STUDENT,7745,Savitribai,25.0,FP,NaN,NaN,FP,B-NAME_STUDENT,25.0
29,29,2462,I-NAME_STUDENT,7745,Daniel,29.0,B-NAME_STUDENT,Daniel,13.0,FNFP,B-NAME_STUDENT,29.0
203,203,2015,I-NAME_STUDENT,9297,Liedtka,203.0,FP,NaN,NaN,FP,B-NAME_STUDENT,203.0
207,207,647,I-NAME_STUDENT,8584,Geoﬀ,207.0,FP,NaN,NaN,FP,B-NAME_STUDENT,207.0
289,289,92,I-NAME_STUDENT,13336,Thomas,289.0,FP,NaN,NaN,FP,B-NAME_STUDENT,289.0
294,294,417,I-NAME_STUDENT,13336,Thomas,294.0,FP,NaN,NaN,FP,B-NAME_STUDENT,294.0
295,295,436,I-NAME_STUDENT,13336,Thomas,295.0,FP,NaN,NaN,FP,B-NAME_STUDENT,295.0
298,298,615,I-NAME_STUDENT,13336,Thomas,298.0,FP,NaN,NaN,FP,B-NAME_STUDENT,298.0
322,322,201,I-NAME_STUDENT,9043,Manuela,322.0,B-NAME_STUDENT,Manuela,218.0,FNFP,B-NAME_STUDENT,322.0
358,358,43,I-NAME_STUDENT,14267,Beckler,358.0,FP,NaN,NaN,FP,B-NAME_STUDENT,358.0
365,365,218,I-NAME_STUDENT,14267,Beckler,365.0,FP,NaN,NaN,FP,B-NAME_STUDENT,365.0
371,371,430,I-NAME_STUDENT,14267,Carr,371.0,FP,NaN,NaN,FP,B-NAME_STUDENT,371.0
372,372,433,I-NAME_STUDENT,14267,Davis,372.0,FP,NaN,NaN,FP,B-NAME_STUDENT,372.0
374,374,479,I-NAME_STUDENT,14267,John,374.0,FP,NaN,NaN,FP,B-NAME_STUDENT,374.0
378,378,502,I-NAME_STUDENT,14267,Beckler,378.0,FP,NaN,NaN,FP,B-NAME_STUDENT,378.0
381,381,588,I-NAME_STUDENT,14267,Davis,381.0,FP,NaN,NaN,FP,B-NAME_STUDENT,381.0
383,383,843,I-NAME_STUDENT,14267,Carr,383.0,FP,NaN,NaN,FP,B-NAME_STUDENT,383.0
384,384,845,I-NAME_STUDENT,14267,Davis,384.0,FP,NaN,NaN,FP,B-NAME_STUDENT,384.0
431,431,338,I-NAME_STUDENT,11827,Semillas,431.0,FP,NaN,NaN,FP,B-NAME_STUDENT,431.0
477,477,12,I-NAME_STUDENT,9543,Thulani,477.0,B-NAME_STUDENT,Thulani,300.0,FNFP,B-NAME_STUDENT,477.0
547,547,3,I-NAME_STUDENT,11461,kitchen,547.0,FP,NaN,NaN,FP,B-NAME_STUDENT,547.0
602,602,280,I-NAME_STUDENT,10720,McConnell,602.0,FP,NaN,NaN,FP,B-NAME_STUDENT,602.0
610,610,22,I-NAME_STUDENT,13353,Visvesvaraya,610.0,FP,NaN,NaN,FP,B-NAME_STUDENT,610.0
717,717,842,I-NAME_STUDENT,13627,Chausova,717.0,FP,NaN,NaN,FP,B-NAME_STUDENT,717.0
718,718,849,I-NAME_STUDENT,13627,Malysheva,718.0,FP,NaN,NaN,FP,B-NAME_STUDENT,718.0
720,720,423,I-NAME_STUDENT,10175,J.Palacios,720.0,FP,NaN,NaN,FP,B-NAME_STUDENT,720.0
746,746,138,I-NAME_STUDENT,9493,Water,746.0,FP,NaN,NaN,FP,B-NAME_STUDENT,746.0
753,753,429,I-NAME_STUDENT,9493,Water,753.0,FP,NaN,NaN,FP,B-NAME_STUDENT,753.0
754,754,441,I-NAME_STUDENT,9493,Water,754.0,FP,NaN,NaN,FP,B-NAME_STUDENT,754.0
829,829,792,I-NAME_STUDENT,12512,Jordi,829.0,B-NAME_STUDENT,Jordi,535.0,FNFP,B-NAME_STUDENT,829.0
937,937,24,I-NAME_STUDENT,8575,Sobyanin,937.0,FP,NaN,NaN,FP,B-NAME_STUDENT,937.0
1020,1020,13,I-NAME_STUDENT,11942,Darden,1020.0,FP,NaN,NaN,FP,B-NAME_STUDENT,1020.0
1081,1081,498,NaN,10517,NaN,NaN,B-ID_NUM,ras21,22.0,FN,NaN,NaN
1082,1082,366,NaN,9911,NaN,NaN,I-NAME_STUDENT,Mpanza,596.0,FN,NaN,NaN

In [19]:
df[df["document"]==21345]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
73,73,131,B-NAME_STUDENT,21345,Ravi,73.0,FP,NaN,NaN,FP
74,74,1289,B-NAME_STUDENT,21345,Ravi,74.0,FP,NaN,NaN,FP

In [7]:
# df.loc[df["cm"]=="FP", "cm"] = ""
# df.loc[df["cm"]=="FN", "cm"] = "TP"
# df.loc[df["cm"]=="FNFP", "cm"] = "TP"

# df.loc[(df["label_pred"]=="I-USERNAME") & (df["cm"]=="FP"), "cm"] = ""


FP = (df["cm"].isin({"FP", "FNFP"})).sum()
FN = (df["cm"].isin({"FN", "FNFP"})).sum()
TP = (df["cm"] == "TP").sum()   
beta = 5
s_micro = (1 + (beta**2)) * TP / (((1 + (beta**2)) * TP) + ((beta**2) * FN) + FP)

print(s_micro)

0.8751387054161163

In [16]:
import json

data = json.load(open("/drive2/kaggle/pii-dd/data/train.json"))

In [21]:
d = [d for d in data if d["document"]==13249][0]
# [(x,y) for x,y in zip(d["labels"], d["tokens"]) if x!="O"]
print(d["full_text"])

REFLECTION-STORYTELLING

Challenge & Selection   As a Human Resource (HR) Manager I handle all employee issues and ensure that the work  environment is conducive for highest possible human productivity. Before I was promoted to this  position, the Office Administrator used to handle this task despite her not being well conversant with  Hr and its procedures. A lot of our employees within the company felt unattended, ignored and greatly  demotivated. In addition, managers and their supervisors had major challenges dealing and handling  discipline matters within their departments.  As soon as I started, I realized that I needed to relate closely with my fellow colleagues in order to solve  their issues and build more cohesion within departments and the company. I choose to use the  Storytelling tool described in Module 2.

Storytelling allowed me to interact and engage with employees. It also helped to soften ground so  employees spoke more freely.

Application  To begin my storytelling sessions I usually start by asking a few frame questions so as to establish  relevant background information and avoid being biased. From past experience there are always two  sides of a story and permitting parties to express themselves freely often sheds light on the matter at  hand. Sometimes the employee may feel defensive and opt not to say anything on the matter and that  is mostly when I apply this tool.   In one particular incident, a sales executive (Cristiane) had come to work wearing thigh high ripped  jeans. Her good friend David, whom they had closely worked with at the same position and had just  currently been promoted to lead the sales team, saw her dressed in this manner he was disappointed  and immediately gave her a warning letter and suspended her for a week as required in the company  policy.

Cristiane could not understand why David was loading his power over her and he was her friend. She  had then resulted in engaged David openly in a heated exchange of words and for several days later  she kept coming to the office every day dressed as she pleased. David now her supervisor felt  undermined and had walked into my office that said morning to deliver his resignation letter. He had  realized that the other sales executives in his team now had lost respect for him and were rebelling  due to Cristiane’s behavior.

I opted to invite Cristiane for morning breakfast at a nearby restaurant. The hotel was well light and  relaxed and none of the company staff went there as it was considered quite expensive. My choice for  this location was to settle the matter without other colleagues knowing about my intervention in it.

After a few minutes of trying to converse and engage with Cristiane I realized she was quite defensive  and intimidated by me and she said no more than three sentences. As a last measure to combat the  resistance, I opted to tell her about my first days, when I had just been promoted to my current  position.

Cristiane and I were not friends, and I had only interacted with her when I had hired her into the  company. I began by explaining that I too had started out at the organization as a sales executive for a  month and had later been promoted to my current position. I then went on to explain to her some of  the difficulties and resistance I had faced from the other sales executives and supervisors as I tried to  establish necessary policies, which I felt were necessary for the benefit for all stakeholders.

I told her of how lonely and challenging it was to lead people whom you had once shared moments  with and you could no longer do so because fellow colleagues may experience feelings of favoritism  one way or another. I also told her of the challenge of joining the senior position and the level of  competition and apprehension experienced within the job group and the high expectations required of  the job.

As Sally listened and understood about what it entailed to lead, she became empathetic of David and  could now clearly understand and relate to his fury.

She was very remorseful of her reaction during the incident and offered to write an apology letter to  him. In addition, she felt the need to apology to all other colleagues who had witnessed her gross  misconduct and this she would do in writing and pin it up on the bulletin board for all. Cristiane also  consented to complying with the suspension-without pay, as a resolve for her bad behavior.

Insight   The storytelling tool enabled me bypass the resistance experienced from Cristiane. It helped override  any intimidation Cristiane might have felt while interacting with me and build a bond as I shared my  personal experience and opened up to her as a friend, rather than an acquaintance and her senior at  work.  The storytelling tool also initiated Cristiane to stop viewing the incident from only one perspective  (Herself) but rather to consider both perspective(hers and David) which she had not considered  earlier i.e. what David was currently going through, David’s work expectations, David’s work  relationships etc.

In addition, the tool sparked Cristiane to personally institute a solution she felt was just and fair and  would provide a lasting remedy for the current problem. She (Cristiane) offered to forgo her pay for the  three days she had undermined David’s authority and to place a public apology for her gross  misconduct.

Approach  This tool is very efficient and effective when dealing with human beings. It assists to connect with  others at a personal level and I have gained get benefits from applying it. I feel it was my best option in  that situation and I now use it more frequently and I believe I am getting better at it.

In [48]:
ord(d["full_text"][1624:1625])

65533

In [32]:
pl = pipeline("ner", model="/drive2/kaggle/pii-dd/training/basic/dv3b-seq384-stride64-data-v2/checkpoint-2280", device=0)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [33]:
out = pl(d["full_text"])

In [33]:
pl("""1 Leonardo Torres\n\nReflection – Learning Launch\n\nChallenge\n\nIn this reflection about learning launch and experimentation, I would like to tell an  incident when I influenced engineering to build a particular feature. In my current role,  I’m the monetization front-end designer for our free email product.\n\nTwo weeks ago, Irina, the engineering manager, gave me some bad news, "Leonardo,  I’m sorry, but we have to remove 140x500 skyscraper ad. My engineering VP told me  that the PM team wouldn’t mind."\n\nI was thinking to myself: “Are you kidding me? Wouldn’t mind? This ad was only the 3rd  most valuable ad placement on the entire site. It delivered INR 45 million in revenue  per year. Who did Irina think was paying her salary?”\n\nSelection\n\nAfter I collected my emotions, I asked Irina, “When are you planning to remove it?”  She said, “Two code sprints from now. About 6 weeks.”\n\nI told her, “Can you give me three days to pull some data? I’d like to understand the  impact of this decision.”\n\nAfter she left, I thought: what could I do? I could have a hissy fit and complain loudly.  Or I could immediately escalate to the engineering VP.\n\nWhile I was tempted to go with either or both solutions, I wouldn’t get what I want  unless I was armed with the facts. Before I figured my plan, I gave my boss Luca, a  heads-up. He wasn’t pleased with engineering’s unilateral response, but he agreed with  my plan.\n\nApplication\n\nI logged into the data warehouse and pulled revenue numbers for the last 12 months.  Next I asked to sales team to gauge customer reaction if we no longer made the product  available. Lastly, I reached out to the VP Engineering’s Chief of Staff to better  understand why we wanted to remove the ad.\n\nInsight\n\nAfter I collected the data, I set up a meeting with Irina, Luca my boss, and  Luca the VP of Engineering. The VP of Engineering reiterated his decision to  remove the skyscraper ad. He maintained what I had heard earlier: the skyscraper ads  were the reason why the email product’s engagement and market share was down.\n\nI asked him, “Why do you think the ads impact engagement?”\n\n2 Leonardo Torres\n\nHe said, “They distract the user.”\n\nI replied, “Are there times when you don’t find the ads distracting?”\n\nHe said, “Yes, when it’s relevant to the content. Let’s say I’m reading an email about  meeting with friends, and the ads suggest things new restaurants and bars.\n\nSo I summarized, “So, you don’t have a problem with ads. What you’re really concerned  about is the quality of the ads.”\n\nApproach\n\nI recommended that rather than remove the ads completely, we should revisit our ad  policy and make sure that we’re serving relevant ads. We can tighten up our ad editorial  processes so that low quality ads aren’t mindlessly approved by the system.\n\nHe was shocked when I told him that the ad placement generated $45 million in annual  revenue. And he also didn’t realize that by pulling the placement, customers would pull  advertising budget, primarily because it wasn’t worth continuing a relationship with us,  given the low ad volume and lack of attractive ad placements, relative to our  competitors.\n\nOrganisation\n\nWe minimized many of the low quality teeth whitening, weight loss ads that were  known for distracting tactics such as pop-ups, fake navigation, and blinking sections.\n\nIt required a lot more work on our editorial team and advertisers. Shortly after, we later  found that email user engagement did go up by 6.5%, and most importantly, we  preserved $45 million in revenue.\n\n""")

Asking to truncate to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no truncation.

[{'entity': 'B-NAME_STUDENT',
  'score': 0.5843847,
  'index': 494,
  'word': '\n',
  'start': 2117,
  'end': 2118},
 {'entity': 'B-NAME_STUDENT',
  'score': 0.9958347,
  'index': 497,
  'word': '▁Leonardo',
  'start': 2120,
  'end': 2129},
 {'entity': 'I-NAME_STUDENT',
  'score': 0.9761973,
  'index': 498,
  'word': '▁Torres',
  'start': 2129,
  'end': 2136}]