In [44]:
import pandas as pd

pd.options.display.max_rows = 999

df = pd.read_csv("/drive2/kaggle/pii-dd/piidd/training/basic/outputs/d1l_3e-5_f2/20240327034913_pii_fbeta.csv", engine="python")

df["label_gt"].fillna("FP", inplace=True)

FP = (df["cm"].isin({"FP", "FNFP"})).sum()
FN = (df["cm"].isin({"FN", "FNFP"})).sum()
TP = (df["cm"] == "TP").sum()   
beta = 5
s_micro = (1 + (beta**2)) * TP / (((1 + (beta**2)) * TP) + ((beta**2) * FN) + FP)

print(s_micro)

0.8812640141836575

In [46]:
FP += 300
FN = 4
# TP += FN - 4

s_micro = (1 + (beta**2)) * TP / (((1 + (beta**2)) * TP) + ((beta**2) * FN) + FP)

print(s_micro)

0.9756147436225142

In [28]:
df.groupby(["label_gt", "cm"], dropna=False).count()

                       Unnamed: 0  token  label_pred  document  \
label_gt         cm
B-EMAIL          TP             8      8           8         8
B-ID_NUM         TP            14     14          14        14
B-NAME_STUDENT   FN            73     73           0        73
                 FNFP           1      1           1         1
                 TP           311    311         311       311
B-PHONE_NUM      TP             1      1           1         1
B-STREET_ADDRESS TP             2      2           2         2
B-URL_PERSONAL   FN             2      2           0         2
                 TP            25     25          25        25
B-USERNAME       TP             4      4           4         4
FP               FP            72     72          72        72
I-NAME_STUDENT   FN             5      5           0         5
                 FNFP           4      4           4         4
                 TP           267    267         267       267
I-STREET_ADDRESS FN             2      2           0         2
                 TP            18     18          18        18
I-URL_PERSONAL   FN             1      1           0         1

                       token_text_pred  row_id_pred  token_text_gt  row_id_gt
label_gt         cm
B-EMAIL          TP                  8            8              8          8
B-ID_NUM         TP                 14           14             14         14
B-NAME_STUDENT   FN                  0            0             73         73
                 FNFP                1            1              1          1
                 TP                311          311            311        311
B-PHONE_NUM      TP                  1            1              1          1
B-STREET_ADDRESS TP                  2            2              2          2
B-URL_PERSONAL   FN                  0            0              2          2
                 TP                 25           25             25         25
B-USERNAME       TP                  4            4              4          4
FP               FP                 72           72              0          0
I-NAME_STUDENT   FN                  0            0              5          5
                 FNFP                4            4              4          4
                 TP                267          267            267        267
I-STREET_ADDRESS FN                  0            0              2          2
                 TP                 18           18             18         18
I-URL_PERSONAL   FN                  0            0              1          1

In [29]:
df[df["cm"]=="FN"]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
727,727,137,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,62.0,FN
728,728,222,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,63.0,FN
729,729,346,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,64.0,FN
730,730,573,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,66.0,FN
731,731,674,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,67.0,FN
732,732,726,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,68.0,FN
733,733,777,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,71.0,FN
734,734,809,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,72.0,FN
735,735,880,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,73.0,FN
736,736,952,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,74.0,FN
737,737,984,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,75.0,FN
738,738,1047,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,76.0,FN
739,739,1081,NaN,2722,NaN,NaN,B-NAME_STUDENT,Saman,77.0,FN
740,740,34,NaN,3202,NaN,NaN,I-URL_PERSONAL,nYZqnhEXw,94.0,FN
741,741,248,NaN,3214,NaN,NaN,B-NAME_STUDENT,Ashley,97.0,FN
742,742,261,NaN,3214,NaN,NaN,B-NAME_STUDENT,Ashley,98.0,FN
743,743,297,NaN,3214,NaN,NaN,B-NAME_STUDENT,Ashley,99.0,FN
744,744,312,NaN,3214,NaN,NaN,B-NAME_STUDENT,Ashley,100.0,FN
745,745,342,NaN,3214,NaN,NaN,B-NAME_STUDENT,Ashley,101.0,FN
746,746,399,NaN,3214,NaN,NaN,B-NAME_STUDENT,Ashley,102.0,FN
747,747,80,NaN,4094,NaN,NaN,B-NAME_STUDENT,Leo,152.0,FN
748,748,81,NaN,4094,NaN,NaN,I-NAME_STUDENT,Ine,153.0,FN
749,749,3,NaN,4922,NaN,NaN,B-NAME_STUDENT,Fatin,204.0,FN
750,750,271,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,305.0,FN
751,751,520,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,306.0,FN
752,752,661,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,307.0,FN
753,753,837,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,308.0,FN
754,754,873,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,309.0,FN
755,755,878,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,310.0,FN
756,756,984,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,311.0,FN
757,757,1036,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,312.0,FN
758,758,1158,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,313.0,FN
759,759,1198,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,314.0,FN
760,760,1286,NaN,6694,NaN,NaN,B-NAME_STUDENT,Jose,315.0,FN
761,761,0,NaN,8642,NaN,NaN,B-NAME_STUDENT,Basavaraju,405.0,FN
762,762,1057,NaN,8674,NaN,NaN,B-NAME_STUDENT,Abdul,414.0,FN
763,763,1058,NaN,8674,NaN,NaN,I-NAME_STUDENT,Kalu,415.0,FN
764,764,72,NaN,8718,NaN,NaN,B-NAME_STUDENT,Teresa,423.0,FN
765,765,160,NaN,8718,NaN,NaN,B-NAME_STUDENT,Teresa,426.0,FN
766,766,197,NaN,8718,NaN,NaN,B-NAME_STUDENT,Teresa,428.0,FN
767,767,279,NaN,8718,NaN,NaN,B-NAME_STUDENT,Teresa,429.0,FN
768,768,368,NaN,8718,NaN,NaN,B-NAME_STUDENT,Teresa,430.0,FN
769,769,529,NaN,8798,NaN,NaN,B-NAME_STUDENT,Roberta,434.0,FN
770,770,641,NaN,8798,NaN,NaN,B-NAME_STUDENT,Roberta,435.0,FN
771,771,371,NaN,9286,NaN,NaN,B-NAME_STUDENT,Prakash,472.0,FN
772,772,1613,NaN,9590,NaN,NaN,B-URL_PERSONAL,https://youtu.be/AsSLvOLkUYn,493.0,FN
773,773,730,NaN,9674,NaN,NaN,B-NAME_STUDENT,Princess,496.0,FN
774,774,735,NaN,9674,NaN,NaN,B-NAME_STUDENT,Princess,497.0,FN
775,775,741,NaN,9674,NaN,NaN,B-NAME_STUDENT,Princess,498.0,FN
776,776,9,NaN,9854,NaN,NaN,I-STREET_ADDRESS,\n,515.0,FN
777,777,98,NaN,9974,NaN,NaN,B-NAME_STUDENT,Virginia,524.0,FN
778,778,99,NaN,9974,NaN,NaN,I-NAME_STUDENT,Birra,525.0,FN
779,779,101,NaN,9974,NaN,NaN,B-NAME_STUDENT,Jeff,526.0,FN
780,780,102,NaN,9974,NaN,NaN,I-NAME_STUDENT,Carrasco,527.0,FN
781,781,104,NaN,9974,NaN,NaN,B-NAME_STUDENT,Jeff,528.0,FN
782,782,105,NaN,9974,NaN,NaN,I-NAME_STUDENT,Carrasco,529.0,FN
783,783,156,NaN,11442,NaN,NaN,I-STREET_ADDRESS,\n,575.0,FN
784,784,87,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,591.0,FN
785,785,187,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,592.0,FN
786,786,215,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,593.0,FN
787,787,336,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,594.0,FN
788,788,348,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,595.0,FN
789,789,452,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,596.0,FN
790,790,502,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,597.0,FN
791,791,567,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,600.0,FN
792,792,594,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,602.0,FN
793,793,657,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,603.0,FN
794,794,721,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,606.0,FN
795,795,774,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,609.0,FN
796,796,869,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,611.0,FN
797,797,911,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,614.0,FN
798,798,919,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,615.0,FN
799,799,934,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,616.0,FN
800,800,953,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,617.0,FN
801,801,966,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,618.0,FN
802,802,975,NaN,11566,NaN,NaN,B-NAME_STUDENT,Emily,619.0,FN
803,803,542,NaN,12154,NaN,NaN,B-URL_PERSONAL,https://youtu.be/Kb-hqNGr5lJ,670.0,FN
804,804,2,NaN,12330,NaN,NaN,B-NAME_STUDENT,Miriam,681.0,FN
805,805,125,NaN,12330,NaN,NaN,B-NAME_STUDENT,Miriam,682.0,FN
806,806,163,NaN,12330,NaN,NaN,B-NAME_STUDENT,Miriam,683.0,FN
807,807,221,NaN,12330,NaN,NaN,B-NAME_STUDENT,Miriam,684.0,FN
808,808,337,NaN,12330,NaN,NaN,B-NAME_STUDENT,Miriam,685.0,FN
809,809,390,NaN,12330,NaN,NaN,B-NAME_STUDENT,Miriam,686.0,FN

In [17]:
df[df["cm"]=="FP"]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
94,94,12,B-PHONE_NUM,3709,2321,94.0,FP,NaN,NaN,FP
95,95,14,I-PHONE_NUM,3709,9637,95.0,FP,NaN,NaN,FP
99,99,39,B-NAME_STUDENT,3709,Katia,99.0,FP,NaN,NaN,FP
102,102,789,B-PHONE_NUM,3709,2321,102.0,FP,NaN,NaN,FP
104,104,1770,B-PHONE_NUM,3709,2321,104.0,FP,NaN,NaN,FP
105,105,1772,I-PHONE_NUM,3709,9637,105.0,FP,NaN,NaN,FP
107,107,2265,B-PHONE_NUM,3709,2321,107.0,FP,NaN,NaN,FP
108,108,2267,I-PHONE_NUM,3709,9637,108.0,FP,NaN,NaN,FP
142,142,1200,B-URL_PERSONAL,4381,http://au.youtube.com/results?search_query=ton...,142.0,FP,NaN,NaN,FP
174,174,6,B-ID_NUM,4717,:,174.0,FP,NaN,NaN,FP
178,178,205,B-ID_NUM,4717,221910309005,178.0,FP,NaN,NaN,FP
179,179,337,B-ID_NUM,4717,221910309006,179.0,FP,NaN,NaN,FP
203,203,34,B-NAME_STUDENT,5001,Rya,203.0,FP,NaN,NaN,FP
204,204,432,B-NAME_STUDENT,5001,Rya,204.0,FP,NaN,NaN,FP
205,205,451,B-NAME_STUDENT,5001,Rya,205.0,FP,NaN,NaN,FP
206,206,617,B-NAME_STUDENT,5001,Rya,206.0,FP,NaN,NaN,FP
207,207,828,B-NAME_STUDENT,5001,Rya,207.0,FP,NaN,NaN,FP
208,208,938,I-USERNAME,5001,�,208.0,FP,NaN,NaN,FP
209,209,944,B-NAME_STUDENT,5001,Rya,209.0,FP,NaN,NaN,FP
210,210,1040,B-NAME_STUDENT,5001,Rya,210.0,FP,NaN,NaN,FP
211,211,1254,B-NAME_STUDENT,5001,Rya,211.0,FP,NaN,NaN,FP
212,212,1377,B-NAME_STUDENT,5001,Rya,212.0,FP,NaN,NaN,FP
215,215,1658,B-NAME_STUDENT,5001,Rya,215.0,FP,NaN,NaN,FP
216,216,1771,B-NAME_STUDENT,5001,Rya,216.0,FP,NaN,NaN,FP
217,217,1917,B-NAME_STUDENT,5001,Rya,217.0,FP,NaN,NaN,FP
218,218,1958,B-NAME_STUDENT,5001,Rya,218.0,FP,NaN,NaN,FP
219,219,2117,B-NAME_STUDENT,5001,Rya,219.0,FP,NaN,NaN,FP
220,220,2132,B-NAME_STUDENT,5001,Rya,220.0,FP,NaN,NaN,FP
292,292,240,B-URL_PERSONAL,6393,https://www.youtube.com/watch?v=Nj-hdQMa3uA,292.0,FP,NaN,NaN,FP
316,316,39,B-ID_NUM,6537,9023,316.0,FP,NaN,NaN,FP
318,318,195,B-ID_NUM,6537,9043,318.0,FP,NaN,NaN,FP
320,320,390,B-ID_NUM,6537,9027,320.0,FP,NaN,NaN,FP
390,390,387,B-URL_PERSONAL,7713,https://www.youtube.com/watch?v=NuacmGHLDqw,390.0,FP,NaN,NaN,FP
411,411,6,I-NAME_STUDENT,7993,Ortega,411.0,FP,NaN,NaN,FP
455,455,754,B-NAME_STUDENT,8733,Miro,455.0,FP,NaN,NaN,FP
456,456,927,B-NAME_STUDENT,8733,Miro,456.0,FP,NaN,NaN,FP
472,472,682,B-NAME_STUDENT,9289,Salvador,472.0,FP,NaN,NaN,FP
505,505,98,B-NAME_STUDENT,9493,Radha,505.0,FP,NaN,NaN,FP
513,513,456,B-NAME_STUDENT,9493,SUNITH,513.0,FP,NaN,NaN,FP
515,515,525,B-NAME_STUDENT,9493,NITHIN,515.0,FP,NaN,NaN,FP
523,523,12,B-NAME_STUDENT,9629,Maria,523.0,FP,NaN,NaN,FP
524,524,13,I-NAME_STUDENT,9629,Amin,524.0,FP,NaN,NaN,FP
556,556,89,B-NAME_STUDENT,10205,Migual,556.0,FP,NaN,NaN,FP
557,557,90,I-NAME_STUDENT,10205,Oman,557.0,FP,NaN,NaN,FP
587,587,438,B-URL_PERSONAL,10561,https://www.youtube.com/watch?v=n90uKuFh9Go,587.0,FP,NaN,NaN,FP
601,601,178,I-NAME_STUDENT,10693,Borg,601.0,FP,NaN,NaN,FP
654,654,1,B-NAME_STUDENT,11841,Andrés,654.0,FP,NaN,NaN,FP
655,655,141,B-NAME_STUDENT,11841,Diana,655.0,FP,NaN,NaN,FP
656,656,142,I-NAME_STUDENT,11841,Vallejo,656.0,FP,NaN,NaN,FP
657,657,841,B-NAME_STUDENT,11849,Arman,657.0,FP,NaN,NaN,FP
658,658,1023,B-NAME_STUDENT,11849,Arman,658.0,FP,NaN,NaN,FP
688,688,635,I-USERNAME,12565,​,688.0,FP,NaN,NaN,FP
701,701,125,I-USERNAME,12981,�,701.0,FP,NaN,NaN,FP
702,702,146,I-USERNAME,12981,�,702.0,FP,NaN,NaN,FP
703,703,168,I-USERNAME,12981,�,703.0,FP,NaN,NaN,FP
704,704,180,I-USERNAME,12981,�,704.0,FP,NaN,NaN,FP
705,705,204,I-USERNAME,12981,�,705.0,FP,NaN,NaN,FP
706,706,232,I-USERNAME,12981,�,706.0,FP,NaN,NaN,FP
707,707,505,I-USERNAME,12981,�,707.0,FP,NaN,NaN,FP
708,708,531,I-USERNAME,12981,�,708.0,FP,NaN,NaN,FP
709,709,545,I-USERNAME,12981,�,709.0,FP,NaN,NaN,FP
710,710,599,I-USERNAME,12981,�,710.0,FP,NaN,NaN,FP
711,711,936,I-USERNAME,12981,�,711.0,FP,NaN,NaN,FP
712,712,957,I-USERNAME,12981,�,712.0,FP,NaN,NaN,FP
742,742,963,I-PHONE_NUM,15717,-,742.0,FP,NaN,NaN,FP
744,744,0,I-USERNAME,18601,​,744.0,FP,NaN,NaN,FP
745,745,91,B-NAME_STUDENT,19469,Bayo,745.0,FP,NaN,NaN,FP
746,746,126,B-NAME_STUDENT,19469,Bayo,746.0,FP,NaN,NaN,FP
747,747,153,B-NAME_STUDENT,19469,Bayo,747.0,FP,NaN,NaN,FP
748,748,167,B-NAME_STUDENT,19469,Blessing,748.0,FP,NaN,NaN,FP
749,749,188,B-NAME_STUDENT,19469,Bayo,749.0,FP,NaN,NaN,FP
750,750,206,B-NAME_STUDENT,19469,Blessing,750.0,FP,NaN,NaN,FP
751,751,208,B-NAME_STUDENT,19469,Blessing,751.0,FP,NaN,NaN,FP
752,752,70,B-NAME_STUDENT,21345,Arvind,752.0,FP,NaN,NaN,FP
753,753,72,B-NAME_STUDENT,21345,Suresh,753.0,FP,NaN,NaN,FP
754,754,165,B-NAME_STUDENT,21345,Ravi,754.0,FP,NaN,NaN,FP
755,755,282,B-NAME_STUDENT,21345,Ravi,755.0,FP,NaN,NaN,FP
756,756,993,B-NAME_STUDENT,21345,Ravi,756.0,FP,NaN,NaN,FP
757,757,1289,B-NAME_STUDENT,21345,Ravi,757.0,FP,NaN,NaN,FP
758,758,1352,B-NAME_STUDENT,21345,Ravi,758.0,FP,NaN,NaN,FP

In [30]:
df[df["cm"]=="FNFP"]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
137,137,2,B-NAME_STUDENT,4090,Aakash,137.0,I-NAME_STUDENT,Aakash,144.0,FNFP
141,141,768,B-NAME_STUDENT,4090,Aakash,141.0,I-NAME_STUDENT,Aakash,148.0,FNFP
253,253,3,I-NAME_STUDENT,5902,Karen,253.0,B-NAME_STUDENT,Karen,258.0,FNFP
383,383,4,B-NAME_STUDENT,8302,Shahed,383.0,I-NAME_STUDENT,Shahed,394.0,FNFP
402,402,1,B-NAME_STUDENT,8642,Aakash,402.0,I-NAME_STUDENT,Aakash,406.0,FNFP

In [20]:
df[df["document"]==9653]

,Unnamed: 0,token,label_pred,document,token_text_pred,row_id_pred,label_gt,token_text_gt,row_id_gt,cm
525,525,3,B-NAME_STUDENT,9653,Man,525.0,I-NAME_STUDENT,Man,512.0,FNFP
526,526,4,I-NAME_STUDENT,9653,Kwok,526.0,I-NAME_STUDENT,Kwok,513.0,TP
787,787,2,NaN,9653,NaN,NaN,B-NAME_STUDENT,Man,511.0,FN

In [7]:
# df.loc[df["cm"]=="FP", "cm"] = ""
# df.loc[df["cm"]=="FN", "cm"] = "TP"
# df.loc[df["cm"]=="FNFP", "cm"] = "TP"

# df.loc[(df["label_pred"]=="I-USERNAME") & (df["cm"]=="FP"), "cm"] = ""


FP = (df["cm"].isin({"FP", "FNFP"})).sum()
FN = (df["cm"].isin({"FN", "FNFP"})).sum()
TP = (df["cm"] == "TP").sum()   
beta = 5
s_micro = (1 + (beta**2)) * TP / (((1 + (beta**2)) * TP) + ((beta**2) * FN) + FP)

print(s_micro)

0.8751387054161163

In [34]:
import json

data = json.load(open("/drive2/kaggle/pii-dd/data/train.json"))

In [37]:
d = [d for d in data if d["document"]==12512][0]
# [(x,y) for x,y in zip(d["labels"], d["tokens"]) if x!="O"]
print(d["full_text"])

Purdue

University SHIBPUR

BOTANICAL GARDEN, SHIBPUR, HOWRAH-711103

Syed Syed [CLASS OF 2018]

University Roll Number : 047378465 Department: School Of Management Sciences

DESIGN THINKING TOOL : STORYTELLING

 Challenge and Selection

Junk food term refers to fast foods which are easy to make and quick to consume. The junk food advertising is also play a great role

in junk food popularity. But it should be avoided, because of lack of energy, high cholesterol and poor concentration. It causes a lot of

harmful effect on the body like obesity, diabetes, heart disease and various types of skin cancers. Eliminating the temptation for junk

food and developing the awareness for fitness can be helping in avoid the junk food from the healthy diet regimen. They are zero in

nutritional value and often high in fat, salt, sugar, and/or calories. Common junk foods include salted snack foods, fried fast food, and

carbonated drinks. Junk Food has become a major problem and many countries are taking action-banning junk food advertising in

children's programmers, removing it from schools and even imposing a fat tax. Junk Food has become a major problem and many

countries are taking action-banning junk food advertising in children programmed, removing it from schools and even imposing a fat tax.

Many junk foods also have trans fats. Trans fats behave like saturated fats when they get in the body. They clog up the human arteries

and cause plaque to build up contributing to heart disease and stroke symptom.

My main area of concern was always pertaining to the fact that students who fall in the similar age group as myself, are always at a

huge health risk due to the incorporation of unhealthy fast foods in their daily routines. This poses a threat on their future as well, since

with years passing by, these students will get addicted to consumption of junk food and this will eventually result in health issues like

obesity, and other concerns which people want to keep away from themselves. Me being a college student myself, was a keen observer

of all the daily eatables my friends and classmates were consuming. And at one point if made me realize that this is an issue which needs

increased awareness and a definite solution which would be simple yet effective.

 Application

Youth is the backbone of any nation. Youth can play an important role in the development of the society. This is the important

segment of the society and youth can play a vital role in the development of the country. Today, young people aged 10 to 24 make up

one quarter of the world’s population. The aspirations and achievements of these 1.8 billion people will obviously shape the future.

In order to convince the organization I was working with, to promote and work for a better and healthy young group of people

around the country, I told them a story of how I had an acquaintance back in my early college days who was so addicted to junk food

consumption and the inclination kept on increasing with time, eventually he cracked a brilliant and one of the most sought after jobs of

the time when our campus placements took place. He was extremely talented in his academics and was a true scholar by all means.

However, due to excess intake of harmful eatables, his health started deteriorating and he started developing serious health concerns.

Ultimately, he ended up getting critically ill, and due to the deadline of reporting to his job physically at their main office, he lost the job.

 Insight and Approach

Thus it turns out, that being successful in every phase of life requires a healthy body and a healthy mind. Along with the avoidance of

unhealthy junk diet. Combining these two concepts can lead to a winning journey in the long run. A healthy body is the mandatory

requirement for proper functioning at your workplace or at your educational institution. And the more people work effectively, the more

they contribute to the overall development of their respective nations.

INDIAN INSTITUTE OF ENGINEERING SCIENCE AND TECHNOLOGY Jordi

BOTANICAL GARDEN, Jordi, HOWRAH-711103

Syed Syed [CLASS OF 2018]

University Roll Number : 047378465 Department: School Of Management Sciences

So I shared this entire plot with the superiors in my organization and provided them a probable solution to this. The solution would

be quite cost effective and will surely serve as a means to resolve this growing concern on a comparatively smaller scale. My suggested

plan of action was to specifically construct environmentally friendly gymnasium equipments, or the least, an affordable and immensely

simplified version of different gym equipments at places like bus-stops, at the end of main roads, in the close proximity of malls etc. since

these are the places that are most frequently visited by college/school goers. By utilizing this method, the young students can utilize the

spare time they have when they are either waiting for their buses to arrive or when they hang out with friends, waiting for their cab to

return home, in front of a mall. I have worked in a couple of social organizations and thus have keen interest in contributing unique ideas

for the betterment of the lives of people.

In [6]:
mdata = json.load(open("/drive2/kaggle/pii-dd/data/mixtral-8x7b-v1/mixtral-8x7b-v1.json"))

In [7]:
for m in mdata:
    if "B-STREET_ADDRESS" in m["labels"]:
        break

In [8]:
list(zip(m["tokens"], m["labels"]))[:20]

[('Rose', 'B-NAME_STUDENT'),
 ('-', 'I-NAME_STUDENT'),
 ('Mai', 'I-NAME_STUDENT'),
 ('Rodriguez', 'I-NAME_STUDENT'),
 ('|', 'O'),
 ('PIN', 'O'),
 ('#', 'O'),
 ('3814374', 'B-ID_NUM'),
 ('\n', 'O'),
 ('501', 'B-STREET_ADDRESS'),
 ('Andrea', 'I-STREET_ADDRESS'),
 ('Highway', 'I-STREET_ADDRESS'),
 ('\n', 'I-STREET_ADDRESS'),
 ('North', 'I-STREET_ADDRESS'),
 ('Tara', 'I-STREET_ADDRESS'),
 (',', 'I-STREET_ADDRESS'),
 ('MP', 'I-STREET_ADDRESS'),
 ('38342', 'I-STREET_ADDRESS'),
 ('|', 'O'),
 ('rose-mairodriguez@comcast.net', 'B-EMAIL')]

In [32]:
pl = pipeline("ner", model="/drive2/kaggle/pii-dd/training/basic/dv3b-seq384-stride64-data-v2/checkpoint-2280", device=0)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [33]:
out = pl(d["full_text"])

In [33]:
pl("""1 Leonardo Torres\n\nReflection – Learning Launch\n\nChallenge\n\nIn this reflection about learning launch and experimentation, I would like to tell an  incident when I influenced engineering to build a particular feature. In my current role,  I’m the monetization front-end designer for our free email product.\n\nTwo weeks ago, Irina, the engineering manager, gave me some bad news, "Leonardo,  I’m sorry, but we have to remove 140x500 skyscraper ad. My engineering VP told me  that the PM team wouldn’t mind."\n\nI was thinking to myself: “Are you kidding me? Wouldn’t mind? This ad was only the 3rd  most valuable ad placement on the entire site. It delivered INR 45 million in revenue  per year. Who did Irina think was paying her salary?”\n\nSelection\n\nAfter I collected my emotions, I asked Irina, “When are you planning to remove it?”  She said, “Two code sprints from now. About 6 weeks.”\n\nI told her, “Can you give me three days to pull some data? I’d like to understand the  impact of this decision.”\n\nAfter she left, I thought: what could I do? I could have a hissy fit and complain loudly.  Or I could immediately escalate to the engineering VP.\n\nWhile I was tempted to go with either or both solutions, I wouldn’t get what I want  unless I was armed with the facts. Before I figured my plan, I gave my boss Luca, a  heads-up. He wasn’t pleased with engineering’s unilateral response, but he agreed with  my plan.\n\nApplication\n\nI logged into the data warehouse and pulled revenue numbers for the last 12 months.  Next I asked to sales team to gauge customer reaction if we no longer made the product  available. Lastly, I reached out to the VP Engineering’s Chief of Staff to better  understand why we wanted to remove the ad.\n\nInsight\n\nAfter I collected the data, I set up a meeting with Irina, Luca my boss, and  Luca the VP of Engineering. The VP of Engineering reiterated his decision to  remove the skyscraper ad. He maintained what I had heard earlier: the skyscraper ads  were the reason why the email product’s engagement and market share was down.\n\nI asked him, “Why do you think the ads impact engagement?”\n\n2 Leonardo Torres\n\nHe said, “They distract the user.”\n\nI replied, “Are there times when you don’t find the ads distracting?”\n\nHe said, “Yes, when it’s relevant to the content. Let’s say I’m reading an email about  meeting with friends, and the ads suggest things new restaurants and bars.\n\nSo I summarized, “So, you don’t have a problem with ads. What you’re really concerned  about is the quality of the ads.”\n\nApproach\n\nI recommended that rather than remove the ads completely, we should revisit our ad  policy and make sure that we’re serving relevant ads. We can tighten up our ad editorial  processes so that low quality ads aren’t mindlessly approved by the system.\n\nHe was shocked when I told him that the ad placement generated $45 million in annual  revenue. And he also didn’t realize that by pulling the placement, customers would pull  advertising budget, primarily because it wasn’t worth continuing a relationship with us,  given the low ad volume and lack of attractive ad placements, relative to our  competitors.\n\nOrganisation\n\nWe minimized many of the low quality teeth whitening, weight loss ads that were  known for distracting tactics such as pop-ups, fake navigation, and blinking sections.\n\nIt required a lot more work on our editorial team and advertisers. Shortly after, we later  found that email user engagement did go up by 6.5%, and most importantly, we  preserved $45 million in revenue.\n\n""")

Asking to truncate to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no truncation.

[{'entity': 'B-NAME_STUDENT',
  'score': 0.5843847,
  'index': 494,
  'word': '\n',
  'start': 2117,
  'end': 2118},
 {'entity': 'B-NAME_STUDENT',
  'score': 0.9958347,
  'index': 497,
  'word': '▁Leonardo',
  'start': 2120,
  'end': 2129},
 {'entity': 'I-NAME_STUDENT',
  'score': 0.9761973,
  'index': 498,
  'word': '▁Torres',
  'start': 2129,
  'end': 2136}]